@media only screen and (max-width: 768px){
    $header-height:40px;
    $thumbnail-size: 200px;
    $bottom-height: 170px;

    body{
        //overflow-y: auto;
    }

    .header {
        text-align: center;
        height:$header-height;
    }

    .header h1{
        font-size: 20px;
        margin: 0px;
        margin-top: 8px;
        margin-right:10px;
        float: right;
    }

    .header img {
        height: 30px;
        float: left;
    }

    .popup{
        display:none;
        top: $header-height;
        height: calc(100vh - #{$header-height} - #{$bottom-height});
    }

    .navigator img {
        display: none;
    }

    .navigator button{
        right:5px;
    }

    .project-thumbnail{
        height:$thumbnail-size;
        width: $thumbnail-size;
        margin: 10px;
        box-shadow:inset 0 0 $thumbnail-size 50px black, 10px 10px 1px 0px $tertiary-color;
    }

    
    .post-thumbnail {
        height:$thumbnail-size;
        width: $thumbnail-size;
        margin: 10px;
        box-shadow:inset 0 0 $thumbnail-size 50px black, 10px 10px 1px 0px $tertiary-color;
    }

    .project-thumbnail p {
        display:none;
    }

    .project-thumbnail h2 {
        padding: 0px 40px;
    }

    .project-list {
        margin-top:2px;
        height: calc(100vh - #{$search-height} - #{$header-height} - #{$bottom-height});
        padding: 0px 10px;
    }

    .project-page{
        height: calc(100vh - #{$header-height} - #{$bottom-height});
    }

    .share-icon {
        display: none;
    }

    .contact-container {
        width: calc(100vw - 100px);
        text-align: center;
        padding: 30px 50px;
    }

    .contact-left {
        width: calc(100% - 60px);
        text-align: center;
        float: none;
        padding: 0 30px;
        margin-left: -25px;
    }
    
    .contact-right {
        float: none;
        left: 0px;
        text-align: center;
        position: relative;
        width: 100%;
        padding: 0;
    }
    
    .contact-right h1{
        margin-bottom: 20px;
    }

    .contact-thumbnail div{
        font-size: 20px;
        margin-top: 10px;
    }
    

    .about{
        margin: 0 20px;
    }

    .about-me {
        padding: 10px;
    }

    .about-me img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 50%;
    }
    
    .about-me p {
        display: block;
    }

    .about-me div{
        margin-top: 20px;
    }

    .p5-info input {
        position: relative;
        top:0;
    }

    .weblog-post{
        padding: 0 10px;
        text-align: justify;
    }

    .footer {
        height:$bottom-height;
        background-color: none;
         position: relative;
        //position: fixed;
    }

    .footer button, .footer a {
        display: block;
        margin: 20px auto;
    }

    .copyright {
        margin-bottom:15px;
    }

}