@media only screen and (max-width: 768px){
    $header-height:40px;
    $thumbnail-size: 200px;
    $bottom-height: 70px;
    $regular-font-size: 11px;
    $p5-info-height: 170px;

    body {
        font-size:$regular-font-size;
        height: 100%;
    }

    html{
        height: 100%;
    }

    code{
        padding: 0px 4px;
    }

    h1 {
        // text-shadow: greenyellow -1px 1px 0px, cyan 0px -1px 0px, red 1px 1px 0px;
        text-shadow: $vhs-shadows-m;
    }
    
    h2 {
        // text-shadow: greenyellow -1px 1px 0px, cyan 0px -1px 0px, red 1px 1px 0px;
        text-shadow: $vhs-shadows-s;
    }

    .main-body{
        height: 100%;
    }

    .header {
        text-align: center;
        height:$header-height;
    }

    .header h1{
        font-size: 28px;
        margin: 0px;
        margin-top: 2px;
        margin-left:8px;
        float: left;
    }

    .header img {
        height: 30px;
        float: right;
    }

    .popup{
        display:none;
        top: $header-height;
        height: calc(100% - #{$header-height} - #{$bottom-height});
    }

    .navigator img {
        display: none;
    }

    .navigator button{
        right:5px;
        font-size: $regular-font-size;
    }

    .navigator input{
        font-size: $regular-font-size;
        width: calc(100% - 45px);
    }

    .project-thumbnail{
        height:$thumbnail-size;
        width: $thumbnail-size;
        margin: 10px;
        box-shadow:inset 0 0 $thumbnail-size 50px black, 10px 10px 1px 0px $tertiary-color;
    }

    .project-thumbnail:first-of-type{
        margin-top: 20px;
    }
    .project-thumbnail:last-of-type{
        margin-bottom: 100px;
    }
    
    .post-thumbnail {
        height:$thumbnail-size;
        width: $thumbnail-size;
        margin: 10px;
        box-shadow:inset 0 0 $thumbnail-size 50px black, 10px 10px 1px 0px $tertiary-color;
    }

    .post-thumbnail:last-of-type{
        margin-bottom: 100px;
    }

    .post-thumbnail:first-of-type{
        margin-top: 20px;
    }

    .project-thumbnail p {
        display:none;
    }

    .project-thumbnail h2 {
        padding: 0px 40px;
    }

    .project-list {
        margin-top:2px;
        height: calc(100% - (#{$search-height} + #{$header-height} + #{$bottom-height}));
        // height: 100%;
        // max-height: 10px;
        overflow-y: auto;
        padding: 0px 10px;
        position: absolute;
    }

    .close-icon {
        right: 5px;
        margin-top: 5px;
    }

    .project-page{
        height: calc(100% - (#{$header-height} + #{$bottom-height}));
        position: absolute;

    }

    .p5-canvas{
        height: calc(100% - #{$p5-info-height});
        // margin-bottom: -20px;
        padding: 0;
        // margin: 0;
    }

    .share-icon {
        display: none;
    }

    .contact-container {
        width: calc(100vw - 100px);
        text-align: center;
        padding: 30px 50px;
    }

    .contact-left {
        width: calc(100% - 60px);
        text-align: center;
        float: none;
        padding: 0 30px;
        margin-left: -25px;
    }
    
    .contact-right {
        float: none;
        left: 0px;
        text-align: center;
        position: relative;
        width: 100%;
        padding: 0;
    }
    
    .contact-right h1{
        margin-bottom: 20px;
    }

    .contact-thumbnail div{
        font-size: 20px;
        margin-top: 10px;
        // float: right;
    }
    

    .about{
        margin: 0 20px;
    }

    .about-me {
        padding: 10px;
    }

    .about-me img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 50%;
    }
    
    .about-me p {
        display: block;
    }

    .about-me div{
        margin-top: 20px;
    }

    // .p5-info input {
    //     position: relative;
    //     top:0;
    // }

    .p5-info h1{
        margin-top: -10px;
        font-size: 2 * $regular-font-size;
    }

    .p5-info p{
        text-align: left;
    }

    .p5-info button, .p5-info input {
        font-size: $regular-font-size;
        padding: 5px;
        margin-top: 0px;
        // margin: 10px;
        position: static;
        // bottom: 10px;
        // left: 0;
        color: $primary-text-color;
    }

    .submergence-hover br{
        display: block;
    }

    .weblog-post{
        padding: 0 10px;
        text-align: center;
    }

    .weblog-post p {
        text-align: left;
        line-height: 20px;
    }

    .footer {
        width: 100%;
        height:$bottom-height;
        // background-color: none;
        background-color: $secondary-color;
        // position: relative;
        position: fixed;
        //position: fixed;
        // background-color: blue;
    }

    .footer button, .footer a {
        // display: block;
        display: inline-block;
        // margin: 15px auto;
        margin: 7.5px 20px;
        margin-top:15px;
        // text-shadow: $vhs-shadows-s;
        // text-shadow: $vhs-shadows-s;
    }

    .copyright{
        // text-shadow: $vhs-shadows-s;
    }
}