.project-page {
    margin:0;
    padding:0;
    height: calc(100vh - #{$header-height} - #{$bottom-height});
    width:100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

// .project-page h1:first-of-type{
//     padding-top: 10px;
// }

// .project-page p:first-of-type{
//     padding: 10px;
//     padding-top: 0px;
// }

.close-icon {
    transition: ease-in 0.2s;
    height: 40px;
    margin: 5px;
    // position:sticky;
    position: absolute;
    float: right;
    z-index: 100;
    right: 35px;
    margin-top: 15px;
    // transform: rotateX(15deg) rotateY(-20deg) rotateZ(1deg);
    -webkit-filter: drop-shadow(6px 5px 5px $tertiary-color);
    filter: drop-shadow(6px 5px 5px $tertiary-color);
    // -webkit-filter: $vhs-shadows-drop-l;
    // filter: $vhs-shadows-drop-l;
    cursor: pointer;
}

.close-icon:hover {
    // transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-filter: drop-shadow(4px 2px 0px $secondary-color);
    filter: drop-shadow(4px 2px 0px $secondary-color);
    //text-shadow: 10px 10px 0px #FF2277;
    // -webkit-filter: $vhs-shadows-drop-m;
    // filter: $vhs-shadows-drop-m;
}

.share-icon {
    transition: ease-in 0.2s;
    height: 40px;
    margin: 5px;
    // position:sticky;
    position: absolute;
    float: right;
    right: 90px;
    z-index: 100;
    margin-top: 15px;
    // transform: rotateX(15deg) rotateY(-20deg) rotateZ(1deg);
    -webkit-filter: drop-shadow(6px 5px 2px $tertiary-color);
    filter: drop-shadow(6px 5px 2px $tertiary-color);
    // -webkit-filter: $vhs-shadows-drop-l;
    // filter: $vhs-shadows-drop-l;
    cursor: pointer;
}

.share-icon:hover {
    // transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-filter: drop-shadow(5px 2.5px 0px $secondary-color);
    filter: drop-shadow(5px 2.5px 0px $secondary-color);
    // -webkit-filter: drop-shadow(4px 2px 0px $secondary-color);
    // filter: drop-shadow(4px 2px 0px $secondary-color);
    //text-shadow: 10px 10px 0px #FF2277;
    // -webkit-filter: $vhs-shadows-drop-s;
    // filter: $vhs-shadows-drop-s;
}

.about-h1{
    margin: 10px;
    margin-bottom: 20px;
}

.about-h2{
    margin: 10px;
    // margin-top:30px;
    margin-bottom: -5px;
    text-align: left;
    // padding: 10px;
    // background-color: $tertiary-color;
    // background-color: $secondary-color;
    // border-radius: 10px;
    // box-shadow: black 1px 1px 10px;
    // box-shadow:10px 7.5px 1px 0px $tertiary-color;
    // box-shadow:10px 7.5px 1px 0px $secondary-color;
}

.about-p{
    text-align: left;
    // text-align: justify;
    margin-bottom: -7.5px;
}

.about-me{
    margin-top: 10px;
    // border-radius: 10px;
    background-color: $tertiary-color;
    // background-color: $secondary-color;
    // border-radius: 10px;
    // box-shadow: black 1px 1px 10px;
    // box-shadow:10px 7.5px 1px 0px $tertiary-color;
    box-shadow:10px 7.5px 1px 0px $secondary-color;
    padding: 15px;
    // padding-bottom: 10px;
    margin-bottom: 40px;
}

.about-me img{
    // border-radius: 10px;
    // background-color: $tertiary-color;
    // background-color: $secondary-color;
    // border-radius: 10px;
    box-shadow: $primary-color 1px 1px 10px;
    // box-shadow: 10px 7.5px 1px 0px $primary-color;
    // box-shadow:10px 7.5px 1px 0px $secondary-color;
    // height: 20px;
    // width: 10px;
}

.contact-container {
    width: calc(100vw - 100px);
    padding: 0 50px;
    padding-top: 50px;
}

$contact-left: 40%;

.contact-left {
    float: left;
    width: $contact-left;
    text-align: center;
}

.contact-right h1{
    margin-bottom: 20px;
}

.contact-p{
    background-color: $tertiary-color;
    // background-color: $secondary-color;
    // border-radius: 10px;
    // box-shadow: black 1px 1px 10px;
    // box-shadow:10px 7.5px 1px 0px $tertiary-color;
    box-shadow:10px 7.5px 1px 0px $secondary-color;
    padding: 20px;
    text-align: justify;
}

.contact-thumbnail {
    display: block;
    background-color: $secondary-color;
    width: 100%;
    height: 40px;
    // border-radius: 100px;
    margin-bottom: 20px;
    padding: 10px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // transform: rotateX(10deg) rotateY(-15deg) rotateZ(1deg);
    box-shadow:10px 7.5px 1px 0px $tertiary-color;
}

.contact-thumbnail:hover{
    // transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    box-shadow:5px 5px 1px 0px $tertiary-color;
}

.contact-thumbnail div{
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 40px;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    margin-top: -5px;
    width: calc(100% - 80px);
    text-align: right;
}

.contact-thumbnail img{
    width: 40px;
    float: left;
}

.p5-info {
    position: absolute;
    width: 100%;
    // transition: ease-in 0.2s;
    text-align: center;
    z-index: 1;
    border-bottom: 2px solid $secondary-color;
}

.p5-info h1{
    // transition: ease-in 0.2s;
    font-size: 3 * $regular-font-size;
    text-align: left;
    margin-left: $p5-info-height + 25px;
    padding-top: 10px;
}

.p5-info p{
    // transition: all ease-in 0.2s;
    // margin-top: 5px;
    display: none;
    visibility: hidden;
    opacity: 1;

}

.p5-info input {
    // z-index: 20;
    // transition: ease-in 0.2s;
    background-color: $tertiary-color;
    // padding: 5px;
    // margin: 10px;
    // position: absolute;
    // top:$header-height+12px;
    // right: 145px;
    // width: 80px;
    // left: 0;
}

.p5-info button {
    // transition: ease-in 0.2s;
    background-color: $tertiary-color;
    color: $primary-text-color;
    margin: 10px;
    position: absolute;
    // top:$header-height+ 12px;
    // right: 145px;
    color: $primary-text-color;
    border: none;
    -webkit-filter: drop-shadow(5px 2.5px 0px $secondary-color);
    filter: drop-shadow(5px 2.5px 0px $secondary-color);
}

.p5-info-slide {
    background: none;
    border: none;
    height: $p5-info-height;
    // margin: 5px;
    position:fixed;
    z-index: 100;
    left: 25px;
    // margin-top: 10px;
    margin: 5px;
    // right: 35px;
    margin-top: 15px;
}

.p5-info-slide img{
    transition: ease-in 0.2s;
    height: 40px;
    // transform: rotateX(15deg) rotateY(-20deg) rotateZ(1deg);
    -webkit-filter: drop-shadow(6px 5px 5px $tertiary-color);
    filter: drop-shadow(6px 5px 5px $tertiary-color);
    // -webkit-filter: $vhs-shadows-drop-l;
    // filter: $vhs-shadows-drop-l;
}

.p5-info-slide img:hover {
    // transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-filter: drop-shadow(4px 2px 0px $secondary-color);
    filter: drop-shadow(4px 2px 0px $secondary-color);
    //text-shadow: 10px 10px 0px #FF2277;
    // -webkit-filter: $vhs-shadows-drop-m;
    // filter: $vhs-shadows-drop-m;
}

.p5-info-show{
    z-index: 5;
    // transition: ease-in 0.2s;
    border-bottom: 2px solid $tertiary-color;
    box-shadow: 0px 10px 10px black;
}

.p5-info-show p{
    // transition: all ease-in 0.2s;
    opacity: 1;
    display: block;
    visibility: visible;
}

.p5-info-show::after{
    z-index: 20;
    content: "Hide this information panel with the ^ button above";
    font-style: italic;
    font-size: 0.75 * $regular-font-size;
    // float: left;
    display: inline;
    position: absolute;
    left: 10px;
    // bottom: px;
}

.p5-canvas{
    // margin-left: 5px;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    // border: white 2px solid;
    position: absolute;
    z-index: 0;
    top: $p5-info-height + $header-height;
    height: calc(100vh - #{$header-height} - #{$bottom-height} - #{$p5-info-height});
    // max-height: calc(100vh - #{$header-height} - #{$bottom-height} - #{$p5-info-height} - 10px);
    text-align: center;
    cursor: crosshair;
}

.weblog-signature{
    margin-top:15px;
    text-shadow: black 1px 1px 5px;
    padding-left: 30px;
    color:$tertiary-text-color;
    font-weight: normal;
    margin-bottom: 50px;
}

.music-release-banner{
    background: url('../../../public/assets/img/music-banner.jpg');
    background-position:0% 20%;
    background-size: cover;
    background-blend-mode: darken;
    border-bottom:1px solid white;
    text-align: center;
    padding: 15px;
    padding-top: 0px;
}


.music-release-banner p,.music-release-banner h1,.music-release-banner h2,.music-release-banner h3 {
    display: block;
    width: max-content;
    height: max-content;
    margin: 0 auto;
    padding: 0;
    text-shadow: 1px 1px 5px black;
}

.submergence-hover{
    transition: ease-out 0.2s;
    -webkit-filter: drop-shadow(4px 2px 0px $secondary-color);
    filter: drop-shadow(4px 2px 0px $secondary-color);
}

.submergence-hover img{
    transition: ease-out 0.2s;
}

.submergence-hover:hover{
    // transform: rotateX(15deg) rotateY(-20deg) rotateZ(1deg);
    -webkit-filter: drop-shadow(6px 5px 0px $tertiary-color);
    filter: drop-shadow(6px 5px 0px $tertiary-color);
}

.submergence-hover:hover img {
    // transform: translateX(1px) translateY(20px);
}
