$primary-color: #222222;
$secondary-color: #393E41;
$tertiary-color: #FF2277;
$primary-text-color: #FDFFFC;
$secondary-text-color: #393E41;
$tertiary-text-color: #FF2277;
$title-font: Monospace;
$body-font: Arial, Helvetica, sans-serif;
$header-height: 75px;
$search-height: 35px;
$thumbnail-size: 250px;
$bottom-height: 70px;
$regular-font-size: 14px;
$p5-info-height: 80px;

* {
  margin: 0;
}

body {
    background-color: $primary-color;
    font-size:$regular-font-size;
}

input[type="search"]::-webkit-search-cancel-button{
    //-webkit-appearance: none;
    display: none;
}

input[type="search"]::-ms-clear{
    display: none;
}

body {
    background-color:$primary-color;
    color:$primary-text-color;
    font-family: $body-font;
    height: 100vh;
    width: 100vw;;
    overflow: hidden;
}

a {
    color:white;
}

a:hover {
    text-shadow: 0 0 5px $primary-text-color;
}

code {
    background-color: $secondary-color;
    padding: 3px;
    border-radius: 5px;
}

.header {
    font-family: $title-font;
    background-color: $secondary-color;
    width: 100%;
    height: $header-height;
}

.header ::slotted {
    float:left;
}

.header img {
    height: ($header-height - 10);
    margin: 5px;
}

.main-body{
    top: $header-height;
    height: calc(100% - #{$header-height});
}

.navigator {
    background-color: $tertiary-color;
    height: $search-height;
    top: $header-height;
    width: 100%;
    margin:0;
}

.navigator img {
    display: block;
    height: $search-height - 10;
    margin: 5px;
    right: 5px;
    pointer-events:none;
    position: absolute;
}

.navigator input {
    -moz-box-shadow:    inset 0 0 10px $secondary-color;
    -webkit-box-shadow: inset 0 0 10px $secondary-color;
    box-shadow:         inset 0 0 10px $secondary-color;
    font-size: $search-height - 20;
    background:$tertiary-color;
    border:none;
    color:$primary-text-color;
    width: 100%;
    height:100%;
    padding: 10px;
    padding-right:$search-height;
}

.navigator input::placeholder {
    color:$primary-text-color;
}

.project-list {
    margin:0;
    height: calc(100vh - #{$search-height} - #{$header-height} - #{$bottom-height});
    text-align: center;
    overflow-x:hidden;
    overflow-y: auto;
}

.link-disabled {
    display: none;
}

.project-thumbnail {
    text-decoration:none;
    background-size: cover;
    background-repeat:no-repeat;
    box-shadow:inset 0 0 $thumbnail-size 75px #111111, 10px 10px 1px 0px $tertiary-color;
    border-radius: $thumbnail-size/10;
    height: $thumbnail-size;
    width: $thumbnail-size;
    display: inline-table;
    text-align: center;
    position:relative;
    padding: 0;
    margin: 30px;
}

.project-thumbnail:hover {
    transition:0.15s;
    box-shadow:inset 0 0 $thumbnail-size 100px black,10px 10px 1px 0px $tertiary-color;
}

.project-thumbnail:last-of-type {
    margin-bottom: 50px;
}

.project-thumbnail div {
    // display:table;
    text-align: center;
    width:$thumbnail-size;
    //height: 100%;
    // margin-top: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.project-thumbnail div *{
    padding: 0px 20px;
}

.project-thumbnail div p {
    margin-top: 10px;
}

.project-thumbnail small {
    display: block;
    position: absolute;
    margin: 10px;
    overflow-x:hidden;
    bottom: 0;
}

.project-page {
    margin:0;
    padding:0;
    height: calc(100vh - #{$header-height} - #{$bottom-height});
    width:100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.project-page h1:first-of-type{
    padding-top: 10px;
}

.project-page p:first-of-type{
    padding: 10px;
}

.close-icon {
    height: 40px;
    margin: 5px;
    position:fixed;
    right: 25px;
}

.about-h1{
    margin: 10px;
}

.about-h2{
    margin: 5px;
    margin-top:20px;
}

.about-p{
    text-align: justify;
}

.about-me{
    margin-top: 15px;
    background-color: $tertiary-color;
    border-radius: 10px;
    box-shadow: black 1px 1px 10px;
    padding: 15px;
}

.about-me img{
    border-radius: 10px;
    box-shadow: black 1px 1px 10px;
    height: inherit;
}

.p5-info {
    text-align: center;
}

.p5-info input {
    background-color: $tertiary-color;
    margin: 10px;
    position: absolute;
    top:$header-height+10px;
    left: 0;
}

.p5-canvas{
    max-height: calc(100vh - #{$header-height} - #{$bottom-height} - #{$p5-info-height});
}

.footer{
    height: $bottom-height;
    width: 100vw;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin:0;
}

.footer hr{
    border-color:$tertiary-color
}

.footer button, .footer a{
    font-size:$regular-font-size;
    padding: 0;
    color: $primary-text-color;
    text-decoration: underline;
    background: none;
    border: none;
}

.footer button:hover, .footer a:hover {
    text-shadow: 0 0 5px $primary-text-color;
}

.copyright {
    margin-top: 5px;
    color:$tertiary-text-color;
    font-size: $regular-font-size;
}

@media only screen and (min-width: 768px){
    $header-height:75px;
    $thumbnail-size: 250px;

    body{
        overflow: hidden;
    }

    .header {
        height:$header-height;
    }

    .header h1, img {
        float: left;
        font-size: $header-height - 20;
    }

    .header h1 {
        padding: 0;
        // bottom: 3px;
    }

    .navigator img {
        display: block;
    }

    .project-list {
        padding: 0px 50px;
    }

    .project-thumbnail {
        height:$thumbnail-size;
        width: $thumbnail-size;
    }
    
    .project-thumbnail p {
        display: none;
    }

    .project-thumbnail:hover p {
        display: block;
    }

    .about{
        margin: 0 20%;
        margin-bottom: 40px;
    }

    .about-me{
        display: flex;
    }

    .about-me img{
        width: 50%;
        height: auto;
        display: inline-block;
        align-self: center;
    }
    
    .about-me div {
        width: 50%;
        padding: 0 10px;
    }

    .about-me div p {
        width: 100%;
    }

    .about-me:last-child{
        padding-bottom: 20px;
    }

    .p5-info input {
        position: absolute;
        top:$header-height+10px;
    }

    .footer {
        position: fixed;
        background-color: $secondary-color;
    }

    .footer button, .footer a {
        display: inline-block;
        margin: 5px 15px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 768px){
    $header-height:40px;
    $thumbnail-size: 200px;

    body{
        overflow-y: auto;
    }

    .header {
        text-align: center;
        height:$header-height;
    }

    .header h1{
        font-size: 20px;
        margin: 9px 0px;
        margin-right:30px;
        float: right;
    }

    .header img {
        height: 30px;
        float: left;
    }

    .navigator img {
        display: none;
    }

    .project-thumbnail{
        height:$thumbnail-size;
        width: $thumbnail-size;
        margin: 10px;
        box-shadow:inset 0 0 $thumbnail-size 50px #111111, 10px 10px 1px 0px $tertiary-color;
    }

    .project-thumbnail p {
        display:none;
    }

    .project-thumbnail h2 {
        padding: 0px 40px;
    }

    .about{
        margin: 0 20px;
    }

    .about-me {
        padding: 10px;
    }

    .about-me img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 50%;
    }
    
    .about-me p {
        display: block;
    }

    .p5-info input {
        position: relative;
        top:0;
    }

    .footer {
        background-color: none;
        position: relative;
    }

    .footer button, .footer a {
        display: block;
        margin: 20px auto;
    }

    .copyright {
        margin-bottom:10px;
    }

}

